      <footer class="footer">
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              {% include "includes/social.html" %}
            </div> <!-- /col -->
            <div class="col-md-6">
              <h4>Blogroll</h4>
              <ul class="nav nav-pills">
              {% for title, link in LINKS %}
                <li role="presentation">
                  <a href="{{ link }}">{{ title }}</a>
                </li>
              {% endfor %}
              </ul>
            </div> <!-- /col -->
          </div> <!-- /row -->
          <div class="row">
            <div class="col-md-10">
              <p>&copy; {{ AUTHOR }} {{ DEFAULT_DATE }}</p>
            </div>
          </div> <!-- /row -->
        </div> <!-- /container -->
      </footer>
