      <footer class="footer">
        <hr>
        <div class="container">
          <div class="row">
            <p class="text-center">
              {% include "includes/social.html" %}
            </p>
          </div>
          <div class="row">
            <h4 class="text-muted">Links</h4>
            {% for links_col in LINKS|slice(3) %}
              <div class="col-md-2">
                {% for title, link in links_col %}
                <small><a class"text-underline" href="{{ link }}">{{ title }}</a></small>
                <br>
                {% endfor %}
              </div> <!-- /col -->
            {% endfor %}
          </div> <!-- /row -->
          <div class="row">
            <p class="pull-right">
              <a href="#">Back to top</a>
            </p>
            <small>
              Copyright &copy; {{ AUTHOR }} {{ articles[0].date.strftime('%Y') }}  
              &middot; Proudly powered by <a href="http://getpelican.com/">Pelican</a> 
              and <a href="http://python.org/">Python</a>
              &middot; Theme <a href="http://github.com/ltiao/tiao-pelican">tiao</a> 
              built with <a href="http://getbootstrap.com/">Bootstrap 3</a>
              by <a href="https://github.com/ltiao/">Louis Tiao</a>.
            </small>          
          </div> <!-- /row -->
        </div> <!-- /container -->
      </footer>
