    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
          <div class="page-header">
            <ul class="nav nav-pills pull-right">
              <li>{% include "includes/links/home_link.html" %}</li>
              {% if DISPLAY_MENUITEMS_ON_TOP and not DISPLAY_MENUITEMS_ON_MENU %}
                {% for title, link in MENUITEMS %}
                  <li>{% include "includes/links/menuitem_link.html" %}</li>
                {% endfor %}
              {% endif %}
              {% if DISPLAY_PAGES_ON_TOP and not DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
              <li role="presentation" {% if p == page %} class="active"{% endif %}>
                <a href="{{ SITEURL }}/{{ p.url }}">
                  {% if p.icon %}
                  <i class="fa fa-{{ p.icon }}"></i>
                  {% endif %}
                 <span>{{ p.menulabel|default(p.title) }}</span>
                </a>
              </li>
              {% endfor %}
              {% endif %}
              <li>
                <a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
                  <i class="fa fa-archive"></i>
                  <span>Archives</span>
                </a>
              </li>
            </ul>
            <h2 class="text-muted">{{ SITENAME }} <small>{{ SITESUBTITLE }}</small></h2>
          </div> <!-- .page-header -->         
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->